{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block menu %}
  {% include "checklist_menu.html" %}
  <a href="{% url 'checklist:club_index' club_id=club.id %}" class="header item">{{club.name}}</a>
  <a href="{% url 'checklist:airplane_index' club_id=club.id airplane_id=airplane.id %}" class="header item">{{airplane.name}}</a>
{% endblock %}

{% block content %}
<h1 class="ui header">Checklisten für {{ airplane.name }}</h1>

<div class="ui cards">
  {% for checklist in checklists %}
      <div class="ui card">
          <div class="content">
            <a class="header">{{ checklist.name }}</a>
            <div class="description">
              <a href="{% url 'checklist:checklist_detail' club_id=club.id airplane_id=airplane.id checklist_id=checklist.id %}">Checklisten</a>
            </div>
          </div>
        </div>
  {% empty %}
      <p>Du bist noch keinen Verein zugeordnet.</p>
  {% endfor %}
</div>

{% endblock %}