{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block menu %}
<a href="#" class="header item">
  Hauptseite
</a>
{% endblock %}


{% block content %}
<h1 class="ui header">Willkommen bei den Checklisten</h1>
<p>Für folgende Flugzeuge stehen Checklisten bereit.</p>

<p>
{% if user.is_authenticated %}
Hi {{ user.username }}!

<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
</p>

<div class="ui cards">
  {% for club in clubs %}
      <div class="ui card">
          <div class="content">
            <a class="header">{{ club.name }}</a>
            <div class="description">
              <a href="{% url 'checklist:index' %}">Checklisten</a>
            </div>
          </div>
        </div>
  {% empty %}
      <p>Du bist noch keinen Verein zugeordnet.</p>
  {% endfor %}
</div>


<div class="ui cards">
<div class="ui card">
    <div class="image">
      <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="meta">
        <span class="date">Joined in 2013</span>
      </div>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>
  </div>

  <div class="ui card">
    <div class="image">
      <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="meta">
        <span class="date">Joined in 2013</span>
      </div>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>
  </div>

  <div class="ui card">
    <div class="image">
      <img src="/images/avatar2/large/kristy.png">
    </div>
    <div class="content">
      <a class="header">Kristy</a>
      <div class="meta">
        <span class="date">Joined in 2013</span>
      </div>
      <div class="description">
        Kristy is an art director living in New York.
      </div>
    </div>
    <div class="extra content">
      <a>
        <i class="user icon"></i>
        22 Friends
      </a>
    </div>
  </div>

</div>

{% endblock %}