{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block menu %}
  {% include "checklist_menu.html" %}
{% endblock %}

{% block content %}
<h1 class="ui header">Willkommen bei den Checklisten</h1>
<br>
<div class="ui cards">
  {% for club in clubs %}
      <div class="ui card">
          <div class="content">
            <a class="header">{{ club.name }}</a>
            <div class="description">
              <p>{{ club.description }}</p>
              {% if club.homepage %}
                <p><a href="{{ club.homepage }}" target="_blank" >{{ club.homepage }}</a></p>
              {% endif %}
              <a href="{% url 'checklist:club_index' club_id=club.id %}">Flugzeuge</a>
            </div>
          </div>
        </div>
  {% empty %}
      <p>Du bist noch keinen Verein zugeordnet.</p>
  {% endfor %}
</div>

{% endblock %}