{% extends "base.html" %}

{% block title %}
Welcome
{% endblock %}

{% block menu %}
  {% include "checklist_menu.html" %}
{% endblock %}

{% block content %}
<h1 class="ui header">Willkommen bei den Checklisten</h1>
<p>Für folgende Flugzeuge stehen Checklisten bereit.</p>

<p>
{% if user.is_authenticated %}
Hi {{ user.username }}!

{% else %}
<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
{% endif %}
</p>

<div class="ui cards">
  {% for club in clubs %}
      <div class="ui card">
          <div class="content">
            <a class="header">{{ club.name }}</a>
            <div class="description">
              <a href="{% url 'checklist:club_index' club_id=club.id %}">Checklisten</a>
            </div>
          </div>
        </div>
  {% empty %}
      <p>Du bist noch keinen Verein zugeordnet.</p>
  {% endfor %}
</div>

{% endblock %}